{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Whisper</h2>
    {{if .Whispers}}
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>ID</th>
        </tr>
        {{range .Whispers}}
        <tr>
            <!-- Use the new semantic URL style -->
            <td><a href="/whispers/{{.ID}}">{{.Title}}</a></td>
            <!-- <td><a href="/whispers?id={{.ID}}">{{.Title}}</a></td> -->
            <!-- Use the custom template function here -->
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
{{end}}