{{template "base" .}}

{{define "title"}}Whisper #{{.Whisper.ID}}{{end}}

{{define "main"}}
    {{with .Whisper}}
    <div class="snippet">
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class="metadata">
            <!-- Note that Format is a method of Time with one parameter. Below is how we pass the parameter inside template. -->
            <time>Created: {{humanDate .Created}}</time>
            <!-- Use pipelining, works like pipelining outputs from one command to another in Unix -->
            <time>{{.Expires | humanDate | printf "Created: %s"}}</time>
<!--            <time>Expires: {{humanDate .Expires}}</time>-->
<!--            <time>Created: {{.Created.Format "02 January 2006"}}</time>-->
<!--            <time>Expires: {{.Expires.Format "02 January 2006"}}</time>-->
        </div>
    </div>
    {{end}}
{{end}}